html, body {
    	min-width: 800px;
}
.Head{
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
	height: 70px;
	width: 100%;
}
img.logo{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 50px;
	width: 120px;
}
.HeadRibb{
	position: absolute;
	margin-top: -20px;
	height: 100px;
	width: 100%;
	color: #1789B0;
	background-color: #1789B0;
	background-size: auto;
}
.footer{
	position: relative;
	style="float";
	width: 100%;
	height: 30px;
}
.main{
	position: relative;
	width: 100%;
}
.post{
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	min-height: 200px;
	height: auto;
	border-style: groove;
	border-radius: 20px;
}
.User{
	position: relative;
	height: auto;
	width: 100%;
}
img.Avatar{
	position: relative;
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	width: 60px;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 50%;
}
p.UserName{
	position: relative;
	float: left;
	margin-left: 2%;
	margin-top: 4%;
	font-family: "Helvetica", "Times New Roman", Times, serif;
	font-size: 1.875em;
}
p.PostTag{
	position: relative;
	float: right;
	margin-right: 4%;
	margin-top: 4%;
	max-height: 8%;
	font-family: "Helvetica", "Times New Roman", Times, serif;
	font-size: 0.875em;
	color: grey;
}
.PostText{
	position: relative;
	clear: both;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	font-family: "Helvetica", "Times New Roman", Times, serif;
	font-size: 1.200em;
}
.PostFooter{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50px;
}
img.Like{
	position: relative;
	float: left;
	margin-left: 5%;
	width: 40px;
	height: auto;
}
p.PostDate{
	position: relative;
	float: right;
	margin-right: 5%;
	color: grey;
}
